BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="https://localhost:3000"

DATABASE_URL=""

NODEMAILER_USER=""
NODEMAILER_PASS=""
NODEMAILER_HOST="localhost"
NODEMAILER_PORT=1025
NODEMAILER_SECURE=false
NODEMAILER_FROM="Node Mailer 👻 <nodemailer@example.com>"
